body {
    background-color: grey;
}

.content>div {
    height: 300px;
    width: 300px;
    background: white;
    border: 2px solid black;
    display: grid;
}

form {
    display: grid;
    visibility: hidden;
    height: 0;
}