body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(10, 10, 10);
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}


h1 {
    margin: 0;
}

button:hover {
    cursor: pointer;
    background-color: rgb(35, 35, 35);
    color: white;
    border: 1px solid white;
}

.actionButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.actionButtons>button:hover {
    cursor: pointer;
    background-color: rgb(35, 35, 35);
    color: white;
    border: 0;
}

.actionButtons>button {
    border-radius: 50px;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background-color: rgb(44, 44, 44);
    width: 100vw;
    color: white;
    padding-bottom: 1em;
    border: 0;
    border-bottom: 15px;
    border: 5px solid white;
    border-color: white;
    border-radius:  0px 0px 55px 55px; 
   
}

header>button{
    font-size: 1rem;
    border: 0;
    font-weight: bold;
    border-radius: 12px;
    border-bottom: 2px solid black;
}

button {
    border: 0;
    font-weight: bold;
    
}
.content {
    display: grid;
    justify-content: center;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.1fr));
    gap: 1rem;
}

.content>div {
    height: 300px;
    background: rgb(35, 35, 35);
    border: 2px solid black;
    display: grid;
}

.content>[class*='NewProj'] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    min-height: 14vh;
    max-height: 15vh;
    border-radius: 25px 50px 50px 25px;
    border-right: 21px solid white;

    padding: 0.5rem;
}

.OpenProject {
   width: 45%;
   height: 75%;
   margin-right: 10px;
 
}
.OpenProject:hover {
    background-color: rgba(1, 255, 1, 0.37);
   
}
.DeleteProject {
    width: 45%;
    height: 75%;
    
 }

 .DeleteProject:hover {
    border: 0;
    color: rgba(255, 145, 0, 0.986);
    background-color: rgb(35, 35 ,35);
    outline: 1px solid white;
 }

 .Delete, .DeleteProject {
    background-color: rgba(255, 145, 0, 0.986);
    
 }

.content>[class*='NewProj']>h3 {
    margin: 0;
    width: 100%;
    padding-left: 15px;
    text-align: left;
}

.content>[class*='NewProj']>button {
    max-height: 34px;
    padding: 0;
    justify-items: center;
    border-radius: 12px;
    margin-bottom: 0.25rem;
 
}

.content>[class*='NewProj']>button {
    
}

.projectTitle {
    overflow: hidden;
    
}
[class*='firstItem'], [class*='secondItem'], [class*='thirdItem'] {
    overflow: hidden;
    height: 1em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 0.5em;
}

form {
    margin-top: 1rem;
    display: grid;
    visibility: hidden;
    height: 0;
    border-radius: 55px;
    border: 2px solid black;
    padding: 0.5rem;
    justify-items: center;
    gap: 0.4rem;
    background-color: rgb(56, 56, 56);
    margin-bottom: 2rem;
}

label, legend {
    font-weight: bold;
}

div>label{
    font-weight: unset;
}

[class='dateSelect'] {
    display: grid;
    gap: 0.25rem;
    font-weight: bold;
    
}

#taskDate{
    border-radius: 12px;
    padding: 0.11rem;
    border: 1px solid black;
}
form>input, form>textarea{
    border-radius: 12px;
    border: 1px solid black;
    padding: 0.5rem;
}
#submitForm, #resetForm, #hideForm{
    border: 0;
    border-radius: 12px;
    padding:0.5em;
}

hr{
    width: 300px;
    display:block;
    height:1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

.content>[class*='NewCard'] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-content: space-between;
    min-height: 7vh;
    max-height: fit-content;
    border: 0;
    border-radius: 25px 50px 50px 25px;
    border-right: 21px solid #ffffff;
    padding: 0.5rem;
    text-align: center;
    min-width: 150px;
}
.descVal {
    display: flex;
    overflow: hidden;
    max-height: 51px;
    flex-grow: 0;
}
[class*='NewCard']>h3 {
    width: 100%;
    margin: 0;
    text-align: left;
}
[class*='NewCard']>button {
    border-radius: 55px;
    width: 4rem;
    height:2rem;
    border: 0;
    font-weight: bold;
}
.Delete:hover {
    background-color: black;
    color: rgb(255, 0, 0)
}

[class*='NewCard']>button:hover {
    background-color: rgb(35, 35, 35);
    color: white;
    border: 1px solid white;
    
}



.description, .priority, .date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted grey;
  
}

.description {
    display: flex;
    justify-content: space-between;
}

.descTemp, .prioTemp, .dateTemp {
    font-weight: bold;
}

.descTemp {
    margin-right: 12px;
}

.dateVal {
    font-weight: bold;
    color: rgb(255, 196, 0);
}